@charset "UTF-8";
/* CSS Document */
body{
	background-color:#efefef;
	color:#646464;
	font-family: 'Open Sans', sans-serif;
}


#results{
	width:542px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

.no-formatting,
.allow-formatting {
    position:relative;
    display:inline-block;
    margin:20px 0px 50px 0px;
    min-height:200px;
    border:0px hidden transparent;
    outline:none;
	color:#222!important;
	
    width: 100%;
    min-height: 5em;
    overflow: auto;
        background-color: rgba(255,0,0,0.1);
    font-size: 14px;
    line-height: 28px;
    outline: 0;
        
    overflow: auto;
    padding: 12px;
}



















