@charset "UTF-8";
/* CSS Document */
body{
	background-color:#efefef;
	color:#646464;
	font-family: 'Open Sans', sans-serif;
}


#results{
	width:542px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 42px;
        background-color: rgba(255,0,0,0.0);
       
}

.no-formatting,
.allow-formatting {
    position:relative;
    display:inline-block;
/*     margin:20px 0px 10px 0px; */
    min-height:200px;
    border:0px hidden transparent;
    outline:none;
	color:#222!important;
	overflow: hidden;
	
    width: 100%;
/*     min-height: 2em; */
        background-color: rgba(0,255,0,0.1);
    font-size: 14px;
    line-height: 28px;
    outline: 0;
/*     margin: 10px; */
        
}



#textcontent {
}

#textcontent[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
    cursor: text;
}

#textcontent[placeholder]:empty:focus:before {
    content: "";
}

#content-submit{
/*
	visibility: hidden;
	display: none;
*/

    position:relative;
    display:inline-block;
    margin:20px 0px 12px 0px;
    min-height:200px;
    border:0px hidden transparent;
    outline:none;
	color:#222!important;
	overflow: hidden;
	
    width: 100%;
/*     min-height: 2em; */
        background-color: rgba(0,255,0,0.1);
    font-size: 14px;
    line-height: 28px;
    outline: 0;
/*     margin: 10px; */
resize: none;

}

